.body{
    background-image: url(blob:https://web.whatsapp.com/4d029e1b-f46f-41ba-ab22-d4073e73b8b9);
}


.row, .container-fluid {
    --bs-gutter-x: none;
}

.width100, .bg-body-tertiary{
    padding: 0;
}

.eye, .heaven, .heaven2, .heaven3{
    width: 100%;
    margin-top: 15px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: white!important;
}

/* .sectionPC{
    display: none;
} */

.containerLogoTit{
    display: flex;
    justify-content: center;
    /* background-image: url(../img/fondoHeaderpng.jpg); */
    /* background-image: url(../img/degrade\ julio\ 1.jpg); */
    /* background-image: url(../img/probandoFondoHeader.jpg); */
    background-image: url(../img/probandodegradeheader2.jpg);
}

.paddingFooter{
    padding-top: 20px;
}

#carouselExample{
    padding-top: 5px;
}

.headerFixed{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.contenedorNavHamb{
    justify-content: center!important;
    margin-bottom: 10px;
}

.bg-body-tertiary{
    padding-top: 0px;
}

.centrarLista{
    display: flex;
    align-items: center;
}

.paddingCarousel{
    padding-top: 190px;
}

.linkActivo{
    color: #FF7F2B!important;
    font-weight: bold;
}

.containerCards, .containerCardsProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.cardProductos{
    display: flex;
    justify-content: center;
}

.containerCardsProductos{
    padding-top: 40px;
}

.btn-primary{
    border-color:#FF7F2B;
    background-color: #FF7F2B;
}

.card{
    border-color:#0573BD ;
    margin-top: 20px;
}

.containerLeerMas{
    display: flex;
    justify-content: center;
}

.titCatalogo{
    text-align: center;
}

.containerProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.containerBlogIndex, .containerNoticias{
    background-image: url(../img/fondotexturadotranqui.jpg);
}

.containerConsultas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondoConsultas{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #FF7F2B;
}

.card-title{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
    font-weight:700;
    font-size: 20px;
    text-transform: uppercase;
}

.containerRedesSociales{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.containerTitConsultas{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80px;
    background-color: #FF7F2B;
    z-index: 10;
}

.paddingBottomImg{
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 5px;
    width: 370px;
}

.containerHorarios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.containertitCat{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1060&t=st=1688047388~exp=1688047988~hmac=07f7d880c3e9a06abf233a1458554e700d80c4760319c9a4eddfcb05e92e1a4f);
}
.titCatalogo{
    padding-top: 15px;
    color: white;
    text-transform: uppercase;
}

.titConsultas{
    padding-right: 0.8%;
    font-weight: bold;
    margin-top: 25px;
    padding-top: 20px;
    text-align: center;
}

.fa-arrow-up{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
}

.tituloContConsultas{
    padding-bottom: 10px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.containerNoticias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.probandoBlog, .probandoBlogIndex{
    margin-top: 15px;
    width: 90%;
}

.ultimaBlog{
    margin-bottom: 10px;
}

footer{
    background-image: url(../img/fondotexturadoGris.jpg);
    background-repeat: repeat;
}

.containerFooter{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.fa-brands{
    color: #FF7F2B;
}

.tituloHorariosAtencion{
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.containerFlex{
    display: flex;
}

.tituloHorariosAtencion, .titLunaVier, .sabyDom, .whatsappFooter{
    padding-left: 10px;
    color: white;
}

.respDias , .respHoras , .respWhatsapp{
    color: #FF7F2B;
    padding-left: 5px;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
.whatsapp-icon {
    margin-top:13px;
}

.whatsAppBtn{
    background-color:#25d366;
    border-color: #25d366;
}

.sectionBlack{
    height: 300px;
    background-color: black;
    padding-top: 165px;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=360&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20360w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=740&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20740w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=826&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20826w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=900&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20900w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=996&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20996w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1060&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201060w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1380&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201380w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1480&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201480w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1800&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201800w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=2000&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%202000w);
}

.tituloheavensotros{
    margin: 0;
    font-weight:700;
    color: white;
    height: 100%;
    display: flex;
    padding-top: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.containerInicioNosotros{
    padding-top: 5px;
    display: flex;
}

.inicioNosotros{
    color: white;
    padding-bottom: 5px;
    padding-left: 15px;
}

.colorOrange{
    padding-left: 4px;
    color: #FF7F2B;
}

.imgSobreNos{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 95%;
}

.tituloSobreNosotros {
    margin: 0;
    font-weight: 700;
    color: white;
    height: 100%;
    display: flex;
    padding-top: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.textoSobreNos{
    text-align:justify;
    border-top: 1px solid #FF7F2B;
}

.textoSobreNosotros{
    color: white;
}


.carousel-control-next-icon{
    color: red;
}

.textoCentrado{
    text-align: justify;
}

.envieConsultas{
    margin-top: 10px;
    font-weight: bold;
    text-decoration:underline;
}

.textoSobreNos, .textoCentrado, .envieConsultas{
    width: 90%;
}

.textoServicioTec{
    width: 94%;
}

.marginServTec{
    margin-bottom: 10px;
}

.imgSrl{
    margin-top: 15px;
    margin-bottom: 10px;
}

.envieConsSobreNos{
    text-align: center;
}

.centrarSobreNos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerImg{
    display: flex;
    justify-content: center;
}

.enviarMensaje{
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    border-top: 1px solid grey;
}

.marginContacto{
    margin: 8px;
}

.containertextContacto{
    display: flex;
    justify-content: center;
    text-align: center;
}

.textoContacto{
    text-align: center;
    width: 350px;
}

/* Inicio de vista DESKTOP */

@media (min-width: 1281px) {
  
    .headerFixed{
        display: block;
        position:relative;
    }

    .width100{
        width: 100%;
    }

    .navbar-collapse{
        justify-content: center;
    }

    .tituloSobreNosotros{
        padding-top: 40px;
    }

    .nav-link{
        margin-left: 40px;
    }

    .nav-link:hover{
        color: #FF7F2B!important;
    }


    .cardimgInicio{
        width: 366px;
        height: 280px;
        padding: 20px;
    }

    .cardInicio{
        width: 23rem!important;
    }

    .card{
        border-color: white;
    }
    
    .containerCardsInicio{
        position: relative;
        height: 400px;
        bottom: 140px;
    }

    .containerProductos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 20px;
    }

    .paddingBottomImg{
        justify-content: center;
        width: 100%;
    }

    .paddingCarousel{
        border-bottom: 5px solid #FF7F2B;
        padding-top: 0;
    }
    
    .containerCards, .containerCardsProductos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .justifyCenter{
        justify-content: center;
    }

    .cardInicio1{
        margin-right: 40px;
    }

    .cardInicio3{
        margin-left: 40px;
    }
    

    .containerCardsMarcas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .sectionBlack{
        padding-top: 0;
        height: 130px;
    }

    .paddingBottomImg{
        padding-bottom: 10px;
    }

    /* .sectionMobile{
        display: none;
    }

    .sectionPC{
        display: flex;
    } */

    .containerNoticias{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 0;
        margin-top: 10px;
    }

    .imgSobreNos{
        margin-top: 30px;
        width: 700px;
    }

    .ulSobreNos{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

     .backColorBlog, .containerNoticias{
        background-image: url(../img/fondotexturadotranqui.jpg);
        background-repeat: repeat;
    } 

    .containerNoticias{
        padding-bottom: 35px;
        padding-top: 20px;
    }

    .probandoBlog{
        width: 500px;
        height: 550px;
    }

    .probandoBlog:hover, .probandoBlogIndex:hover {
        -webkit-transform:scale(1.1);transform:scale(1.1);
        transition: 1s;
    }

    .probandoBlog:hover, .probandoBlogIndex:Hover {
    filter: brightness(80%);
}

.containerBlogIndex{
    height: 700px;
    /* background-image: url(../img/fondotexturadotranqui.jpg); */
    background-image: url(../img/fondo\ julio\ 3.jpg);
}

.containerRevistaBlog{
    position: relative;
    top: 30px;
    right: 280px;
}

.eye, .heaven, .heaven2, .heaven3{
    width: 600px;
    margin-top: 0;
}

.eye{
    position:absolute;
    /* height:400px;
    width:400px; */
    top: 40px;
    z-index: 10;
  }
  
  .heaven, .heaven2, .heaven3
  {
    position:absolute;
    /* height:400px;
    width:400px; */
    left : 40px;
    z-index: 9;
  }

  .heaven2{
    z-index: 8;
    left : 80px;
  }

  .heaven3{
    z-index: 7;
    left : 120px;
  }

}