.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: white!important;
}

/* .sectionPC{
    display: none;
} */

.containerLogoTit{
    display: flex;
    justify-content: center;
    background-image: url(https://img.freepik.com/foto-gratis/concreto-texturado-blanco_125540-1826.jpg?w=900&t=st=1687968538~exp=1687969138~hmac=0c6d1740f67e5811d94151453eca4f938f92136d3f59f38e312b3c1a46d619cf);
    background-repeat: no-repeat;
}

.headerFixed{
    background-color: white;
    position: fixed;
    z-index: 1;
}

.contenedorNavHamb{
    justify-content: center!important
}

.bg-body-tertiary{
    padding-top: 0px;
}

.centrarLista{
    display: flex;
    align-items: center;
}

.paddingCarousel{
    padding-top: 190px;
}

.linkActivo{
    color: #FF7F2B!important;
}

.containerCards, .containerCardsProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.containerCardsProductos{
    padding-top: 40px;
}

.btn-primary{
    border-color:#FF7F2B;
    background-color: #FF7F2B;
}

.card{
    border-color:#0573BD ;
    margin-top: 20px;
}

.containerLeerMas{
    display: flex;
    justify-content: center;
}

.containerConsultas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.card-title{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
    font-weight:700;
    font-size: 20px;
    text-transform: uppercase;
}

.containerRedesSociales{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.containerTitConsultas{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80px;
    background-color: #FF7F2B;
    z-index: 10;
}

.probandoFlecha{
    background-color: #FF7F2B;
    width: 70px;
    height: 70px;
    line-height: 70px;
    transform: rotate(45deg);
    margin: 0px auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    bottom: -20px;
}

.titConsultas{
    z-index: 5;
}

.fa-arrow-down{
    z-index: 2;
}

.tituloContConsultas{
    color: white;
}

footer{
    background-color: rgb(70, 70, 70);
}

.fa-brands{
    color: #FF7F2B;
}

.tituloHorariosAtencion{
    margin-top: 20px;
text-align: center;
}

.containerFlex{
    display: flex;
}

.tituloHorariosAtencion, .titLunaVier, .sabyDom, .whatsappFooter{
    padding-left: 10px;
    color: white;
}

.respDias , .respHoras , .respWhatsapp{
    color: #FF7F2B;
    padding-left: 5px;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
.whatsapp-icon {
    margin-top:13px;
}

.whatsAppBtn{
    background-color:#25d366;
    border-color: #25d366;
}

.sectionBlack{
    height: 300px;
    background-color: black;
    padding-top: 190px;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=360&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20360w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=740&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20740w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=826&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20826w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=900&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20900w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=996&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20996w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1060&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201060w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1380&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201380w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1480&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201480w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1800&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201800w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=2000&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%202000w);
}

.tituloSobreNosotros{
    margin: 0;
    font-weight:700;
    color: white;
    height: 100%;
    display: flex;
    padding-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.containerInicioNosotros{
    padding-top: 5px;
    display: flex;
}

.inicioNosotros{
    color: white;
    padding-bottom: 5px;
    padding-left: 15px;
}

.colorOrange{
    padding-left: 4px;
    color: #FF7F2B;
}

.imgSobreNos{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 95%;
}

.textoSobreNos{
    text-align:justify;
    border-top: 1px solid #FF7F2B;
}

.carousel-control-next-icon{
    color: red;
}

.textoCentrado{
    text-align: justify;
}

.envieConsultas{
    margin-top: 10px;
    font-weight: bold;
    text-decoration:underline;
}

.textoSobreNos, .textoCentrado, .envieConsultas{
    width: 90%;
}

.textoServicioTec{
    width: 94%;
}

.marginServTec{
    margin-bottom: 10px;
}

.imgSrl{
    margin-top: 15px;
    margin-bottom: 10px;
}

.envieConsSobreNos{
    text-align: center;
}

.centrarSobreNos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerImg{
    display: flex;
    justify-content: center;
}

.enviarMensaje{
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    border-top: 1px solid grey;
}

.marginContacto{
    margin: 8px;
}

.containertextContacto{
    display: flex;
    justify-content: center;
    text-align: center;
}

.textoContacto{
    text-align: center;
    width: 350px;
}

/* Inicio de vista DESKTOP */

@media (min-width: 1281px) {
  
    .headerFixed{
        display: block;
        position:relative;
    }

    .width100{
        width: 100%;
        padding: 0!important;
        background-image: url(https://img.freepik.com/foto-gratis/concreto-texturado-blanco_125540-1826.jpg?w=900&t=st=1687968538~exp=1687969138~hmac=0c6d1740f67e5811d94151453eca4f938f92136d3f59f38e312b3c1a46d619cf);
        background-repeat: no-repeat;
    }

    .navbar-collapse{
        justify-content: center;
    }

    .nav-link{
        margin-left: 40px;
    }

    .paddingCarousel{
        padding-top: 0;
    }
    
    .containerCards, .containerCardsProductos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .sectionBlack{
        padding-top: 0;
        height: 130px;
    }

    /* .sectionMobile{
        display: none;
    }

    .sectionPC{
        display: flex;
    } */

    .imgSobreNos{
        margin-top: 30px;
        width: 700px;
    }

}