.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: white!important;
}

.containerLogoTit{
    display: flex;
    justify-content: center;
}

.headerFixed{
    background-color: white;
    position: fixed;
    z-index: 1;
}

.contenedorNavHamb{
    justify-content: center!important
}

.bg-body-tertiary{
    padding-top: 0px;
}

.centrarLista{
    display: flex;
    align-items: center;
}

.paddingCarousel{
    padding-top: 190px;
}

.linkActivo{
    color: #FF7F2B!important;
}

.containerCards, .containerCardsProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.containerCardsProductos{
    padding-top: 40px;
}

.btn-primary{
    background-color: #FF7F2B;
}

.card{
    margin-top: 20px;
}

.containerLeerMas{
    display: flex;
    justify-content: center;
}

.containerConsultas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.containerRedesSociales{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.containerTitConsultas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80px;
    background-color: #FF7F2B;
}

.tituloContConsultas{
    color: white;
}

footer{
    background-color: rgb(70, 70, 70);
}

.fa-brands{
    color: #FF7F2B;
}

.tituloHorariosAtencion{
    margin-top: 20px;
text-align: center;
}

.containerFlex{
    display: flex;
}

.tituloHorariosAtencion, .titLunaVier, .sabyDom, .whatsappFooter{
    padding-left: 10px;
    color: white;
}

.respDias , .respHoras , .respWhatsapp{
    color: #FF7F2B;
    padding-left: 15px;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
.whatsapp-icon {
    margin-top:13px;
}

.sectionBlack{
    height: 300px;
    background-color: black;
    padding-top: 190px;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=360&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20360w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=740&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20740w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=826&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20826w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=900&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20900w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=996&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%20996w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1060&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201060w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1380&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201380w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1480&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201480w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=1800&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%201800w,%20https://img.freepik.com/vector-gratis/fondo-patron-textura-fibra-carbono-negro_1017-33436.jpg?w=2000&t=st=1687450930~exp=1687451530~hmac=faad5498b9dc14d33affabe93cd67adeec9dce87f5a2c27abbb346dad668e026%202000w);
}

.tituloSobreNosotros{
    margin: 0;
    color: white;
    height: 100%;
    display: flex;
    padding-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.containerInicioNosotros{
    padding-top: 5px;
    display: flex;
}

.inicioNosotros{
    color: white;
    padding-bottom: 5px;
    padding-left: 15px;
}

.colorOrange{
    padding-left: 4px;
    color: #FF7F2B;
}

.imgSobreNos{
    margin-top: 70px;
    margin-bottom: 10px;
    width: 95%;
}

.textoSobreNos{
    text-align:center;
    border-top: 1px solid #FF7F2B;
}

.carousel-control-next-icon{
    color: red;
}

.textoCentrado{
    text-align: justify;
}

.envieConsultas{
    margin-top: 10px;
    font-weight: bold;
    text-decoration:underline;
}

.textoSobreNos, .textoCentrado, .envieConsultas{
    width: 90%;
}

.centrarSobreNos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerImg{
    display: flex;
    justify-content: center;
}

.enviarMensaje{
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    border-top: 1px solid grey;
}

.containertextContacto{
    display: flex;
    justify-content: center;
    text-align: center;
}

.textoContacto{
    text-align: center;
    width: 350px;
}