<!doctype html>
<html lang="en">
  

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HandyLanus - Sobre Nosotros</title>
    <script src="https://kit.fontawesome.com/a134c1edd0.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/HandyLanus - LogoNuevoPng2.png">

    <link rel="stylesheet" href="../css/style.css">
</head>


<body class="fondoSobreNosotrosTexturado">

  <a href="https://api.whatsapp.com/send?phone=5491126421547" 
  class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>

    <header>
        <div class="container-fluid">
            <div class="row headerFixed">
                <div class="col-lg-6 width100">
                    <div class="containerLogoTit">
                        <img src="../img/HandyLanus - LogoNuevoPng2.png" class="logo" alt="logo">
                    </div>                
                </div>
                
                <div class="col-lg-6 width100">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid contenedorNavHamb">
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav centrarLista">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active linkActivo" aria-current="page" href="sobrenosotros.html">SOBRE NOSOTROS</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="serviciotecnico.html">SERVICIO TÉCNICO</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../productos/productos.html">PRODUCTOS</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="nuestrosclientes.html">NUESTROS CLIENTES</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="blog.html">BLOG</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="contacto.html">CONTACTO</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                </div>
            </div>
        </div>
    </header>


    <section class="sectionBlack">

      <div class="containerImgconInicio">
        <h1 class="tituloSobreNosotros">SOBRE NOSOTROS</h1>

        <div class="containerInicioNosotros">

          <a href="../index.html" class="inicioNosotros">Inicio</a>
          <p style="color: white; margin-left: 3px;">/</p>
          <p class="colorOrange">Sobre Nosotros</p>

        </div>
      </div>

    </section>


  <section class="containerImgSobreNos">
    <img class="imgSobreNos" src="../img/imgSobreNos.jpg" alt="ImagenFondoSobreNosotros">
  </section>
  
  
  
    <section class="containerTextoSobreNos">
      <div class="containerTextSobreNos" style="width: 90%;">
        <div class="containerTextosTarjeta">

          <h3>¿Cómo se formó  HandyLanus?</h3> <br>

          <p class="textoContainerTarj">Debido a los constantes inconvenientes en la comunicación dentro del cuartel de Adrián, Bombero Voluntario, Dueño y creador de la empresa, toma la decisión de empezar a realizar mejoras en el sistema. Corrigiendo, cambiando y reparando antenas, conectores, cables, etc.
            Esto mismo comenzó a realizarlo en algunos cuarteles vecinos, y al darse cuenta que la solución al grave problema de la comunicación en las intervenciones venía por fallas técnicas decidió capacitarse y ampliarse en el rubro.  
            </p> <br>

          <p class="textoContainerTarj">En el año 2015 de a poco y con el boca en boca, ya que los problemas quedaban solucionados comenzamos a crecer. Primero por cuarteles linderos y luego trasladándonos por el resto del país. </p> <br>
         
          <p class="textoContainerTarj">En algún que otro cuartel nos consultaban para comprar equipos, y hasta el momento no era algo que habíamos pensado, pero a tanta insistencia, vimos un nuevo proyecto y fue así como además del servicio técnico implementamos la venta de equipamiento. </p> <br>
          
          <p class="textoContainerTarj">Con el paso del tiempo y gracias a la ayuda de los distribuidores oficiales de las distintas marcas que trabajamos, inicio la venta de productos y nos convertimos en Dealer oficiales de:
            </p>
            <p class="textoContainerTarj"><b>MOTOROLA SOLUTION</b> - <b>YAESU</b>- <b>ICOM</b> - <b>HYTERA</b> - <b>KENWOOD</b> - <b>YEDRO</b>.
             </p> <br>

            <p class="textoContainerTarj">Hoy en día, somos una empresa dedicada a la comercialización e instalación de equipos de Comunicaciones como: Repetidoras, Radios Bases, Equipos portátiles, antenas, baterías y accesorios. </p> <br>
            <p class="textoContainerTarj">Fábricamos nuestras propias antenas formaciones de dipolos y además contamos con laboratorio propio para realizar reparaciones de todas las marcas. 
              </p>

            <p class="textoContainerTarj"><b>HANDYLANUS</b> posee un móvil equipado con herramientas e instrumentos de laboratorio el cuál ya lleva recorrido más de <b>300.000km</b> en nuestro País, 
              y un centenar de Cuarteles de Bomberos, Empresas y Reparticiones oficiales han confiado sus comunicaciones a nosotros.</p><br>

              <p class="textoContainerTarj"><b>HYTERA</b> nos brindó un reconocimiento como empresa con más ventas realizadas 2020/2021.</p><br>

            <p class="textoContainerTarj"><b>MOTOROLA SOLUTIONS</b>, nos premió como la empresa con mayor crecimiento en 2022 y  en Abril del 2023, participamos de la convención Latinoamericana en México – Playa del Carmen, donde se presentó el lanzamiento del equipo portátil R2 y R7. </p> <br>
            
            <p class="textoContainerTarj">Parte de nuestro staff está conformado por Bomberos Voluntarios y otra parte por familiares, haciendo de esto un buen ambiente laboral y una gran familia. </p>
        </div>
      </div>
    </section>

    
    <footer>
      <div class="fondoConsultas">
        <a href="../views/contacto.html" class="titConsultas"><h3 class="h3ConsultasContactos">CONSULTAS Y CONTACTO</h3></a>
        <i class="fa-sharp fa-solid fa-arrow-up fa-1x"></i>
        <img src="../img/diamante.png" class="diamante" alt="">
      </div>
  
  
  
  
      <div class="containerFooter">
        <div class="row">
      
          <div class="col-lg-4 paddingFooter">
            <div class="containerHorarios">
              <h5 class="tituloHorariosAtencion">HORARIOS DE ATENCIÓN</h5>
    
              <div class="containerFlex">
                  <p class="titLunaVier">Lunes a Viernes:</p> 
                  <p class="respDias">09:00 a 18:00hs</p>
              </div>
    
              <div class="containerFlex">
                  <p class="sabyDom">Sabados y Domingos:</p>
                  <p class="respHoras">10:00 a 15:00HS</p>
              </div>
    
              <div class="containerFlex">
                <p class="whatsappFooter">WhatsApp:</p>
                <p class="respWhatsapp">5491126421547</p>
              </div>
          </div>
          </div>
  
  
          <div class="col-lg-4 paddingFooter">
            <div class="containerConsultas">
              <h5 class="tituloContConsultas">REDES SOCIALES</h5>
              <div class="containerRedesSociales">
                <a href="https://es-la.facebook.com/people/HandyLanus/100064752993895/"> <i class="fa-brands fa-facebook fa-2x iconRedes"></i></a>
                <a href="https://www.instagram.com/handylanus/"> <i class="fa-brands fa-instagram fa-2x iconRedes"></i></a>
                <a href="https://www.tiktok.com/@handylanus?lang=es"><i class="fa-brands fa-2x fa-tiktok"></i></a>
              </div>
            </div>
          </div>
  
  
          <div class="col-lg-4 paddingFooter">
            <div class="containerSobreNosotros">
              <h5 class="tituloHorariosAtencion">SOBRE NOSOTROS</h5>
              <p class="textoSobreNosotros">HandyLanus una empresa dedicada a la comercializacion e instalacion de equipos de Comunicaciones 
                como : Repetidoras, Radios Bases, Handys de todas las Marcas.!</p>
            </div>
          </div>
        </div>
      </footer>
   
    










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>